//Mixins

//Named banner because providing name to banner

@mixin banner {
    width: 100%;
    position: relative;
    color:white;
    //styling class banner-content
    .banner-content{
        position: absolute;
        top:50px;
        width: 100%;
    }
    img{
        width: 100%;
    }
    span{
        font-size: $bannerHeading;
        display: block;
        text-transform: uppercase;
        font-weight: bold;
        @include mediaQuery(3000px,1200px){
            font-size: 68px;
            
        }
    }
    span.title{
        font-weight: normal;
        margin-bottom: 30px;
    }
}
@mixin clearFix {
    //styling "after" 
    &:after{
        content: "";
        display: block;
        clear: both;
    }
}

//coloumns and margins for grid
@mixin grid($cols,$mgn){
    float: left;
    margin-right: $mgn;
    margin-bottom: $mgn;
    width: ((100% - (($cols - 1) * $mgn))/ $cols);
    &:nth-child(#{$cols}n){
        margin-right: 0;
    }
}

@mixin mediaQuery($arg...) {
    //while taking 1 argument -max width
    @if length($arg)==1{
        @media screen and (max-width:nth($arg,1)){
            @content;
        }
    }
    //while taking 2 arguments -max width and min width
    @if length($arg)==2{
        @media screen and (max-width:nth($arg,1)) and (min-width:nth($arg,2)){
            @content;
        }
    }
}
    

